html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: $bg-color;
    color: white;
    text-transform: uppercase;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.headline-left {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: white;
        left: 0;
        top: 50%
    }
}

.title {
    span {
        position: absolute;
        display: inline-block;
        font-size: 200px;
        font-weight: 800;
        color: rgba(#fff, .02);
        position: relative;
        transform: translateX(-50px);
    }

    h3 {
        position: absolute;
        top: 0;
        right: -5px;
        margin: 0;
        font-size: 80px;
        color: white;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: $main-color;
        }
    }
}

.subtitle {
    display: inline-block;
    text-align: right;
    &-heading {
        font-size: 40px;
        font-weight: 800;
        padding-right: 10px;
        span {
            font-weight: 100;
        }
    }
}

.inner-btn {
    bottom: 0;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    display: none;
}